*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.current-page{
    margin: 0 10px 0 10px;
}

.pagination a{
    background-color: #ffcc2a;
}

.pagination a:hover{
    background-color: #e7ba27;
}

.pagination a:focus{
    box-shadow: none;
    outline: none;
    background-color: #ffcc2a;
}

.linea{
    height: 2px; /* Ajustar el grosor */
    background-color: black; /* Cambia este color */
    opacity: 100;
}

.encabezado{
    display: flex;
    width: 95%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 185, 185);
    margin: 0 auto;
    padding-top: 10px;
}

.encabezado .btn{
    background-color: #ffcc2a;
    height: max-content;
}

.encabezado .btn:hover{
    background-color: #e7ba27;
}

.encabezado2{
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 185, 185);
    margin: 0 auto;
}

.encabezado2 .btn{
    background-color: #ffcc2a;
    height: max-content;
}

.encabezado2 .btn:hover{
    background-color: #e7ba27;
}

.search-container input:focus{
    box-shadow: none;
    outline: none;
    border-color: lightgrey;
}